# dependencies
/node_modules

# next.js
/.next/
/out/
/build

# env
.env
.env.local
.env.production

# logs
*.log

# local cache (INI KUNCI)
.local/
.cache/

# vercel
.vercel

# OS
.DS_Store
Thumbs.db
