# dependencies
/node_modules

# next.js
/.next/
/out/
/build

# logs
*.log

# local cache (INI KUNCI)
.local/
.cache/

# vercel
.vercel

# OS
.DS_Store
Thumbs.db

# uploads (keep folder structure)
/public/uploads/videos/*
/public/uploads/thumbnails/*
!/public/uploads/videos/.gitkeep
!/public/uploads/thumbnails/.gitkeep
